.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  width: 50vw;
  height: 70vh;
  flex-direction: column;
}

.backgroundImage {
  width: 100vw;
  height: 50vh;
  flex-direction: column;
  background-image: url("../../assets/backgroundcolor.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.forecastContainer {
  align-items: start;
}

.cityContainer {
  margin-top: 40px;
}

.city {
  justify-content: flex-end;
  padding-right: 10px;
}

.dailyForecastButton {
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 10px;
}

.pointRightImage {
  width: 12%;
  height: 12%;
  visibility: hidden;
}

.dailyForecastButton:hover .forecastButton {
  cursor: pointer;
}

.dailyForecastButton:hover .pointRightImage {
  visibility: visible;
  cursor: pointer;
}

.currentWeather, .currentTime {
    width: 50%;
    margin-inline: 20px;
}

.videoContainer {
  height: 45%;
  margin-top: 20px;
}

.border {
    width: 3px;
    height: 15vh;
    margin-inline: 10px;
    align-self: center;
    background-color: #8a7b66;
}

#youtube-player {
  width: 30vw;
}

/* Loading */

.loadingComponent {
  margin: 20px;
}

/* Text */

.date,
.feelsLike,
.weather,
.temperature,
.clock {
  color: #8a7b66;
}

.date,
.feelsLike,
.weather {
    text-align: start;
    font-weight: 500;
    font-size: 0.8em;
}

.city, 
.weather,
.date {
  display: flex;
  align-items: center;
}

.date {
  align-items: start;
}

.temperature,
.clock {
    font-weight: bold;
    font-size: 3em;
}

.city span {
  color: #e886c3;
  font-weight: 600;
  border-bottom: 2px solid #e886c3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 200px;
  text-align: center;
}

.city:hover span {
  cursor: pointer;
  border-bottom: 2px solid #e45aaf;
  color: #e45aaf;
}

.forecastButton {
  background-color: transparent;
  font-size: 0.8em;
  font-weight: bold;
  color: #8a7b66;
  border: none;
  border-bottom: 2px dotted #8a7b66;
  align-self: flex-end;
}

/* Icons */

.cityIcon {
  margin-right: 3px;
  color: #e886c3;
}

.edit, .sync {
  margin-left: 10px;
}

.city:hover .map, .sync:hover {
  cursor: pointer;
  color: #e45aaf;
}

.weatherIcon, .dateIcon {
  margin-right: 6px;
}

.weatherIcon {
  font-size: 1.5em;
}

.dateIcon {
  margin-top: 5px;
}

.weatherImageIcon {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}


/* Media Queries */

@media (max-width: 1199.98px) {
  #youtube-player {
    width: 40vw;
  }
}

@media (max-width: 991.98px) {
  #youtube-player {
    width: 50vw;
  }
}

@media (max-width: 767.98px) {
  #youtube-player {
    width: 70vw;
  }
}

@media (max-width: 575.98px) {
  .mainContent {
    width: 100vw;
  }

  .backgroundImage {
    width: 100%;
    height: unset;
    background-image: none;
    background-color: #fffbe7;
    border-radius: 30%;
  }

  .cityContainer {
    margin-inline: 20px;
  }

  .city span {
    width: 100px;
  }

  .forecastContainer {
    margin-bottom: 20px;
  }

  .weatherImageIcon {
    width: 40px;
    height: 40px;
  }

  #youtube-player {
    width: 80vw;
  }
}

