.dailyForecastContainer {
  width: 100%;
  padding: 20px;
  padding-top: 0px;
  box-sizing: border-box;
}

.todayForecast {
  background-color: #ffdd46;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.8em;
}

.todayForecastCurrent,
.todayForecastMain,
.todayFeelLikeMinMax {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.todayWeather,
.todayHumidity,
.todayWind {
  display: flex;
}

.forecastTitle {
  text-align: start;
  font-size: 1.2em;
  font-weight: 500;
}

.todayForecastCurrent .todayForecastTemp {
  font-size: 2.5em;
}

.todayForecastCity p {
  text-align: end;
}

.todayForecastCity .todayForecastCityName {
  font-size: 1.2em;
  font-weight: 500;
}

.todayFeelLikeMinMax {
  font-size: 0.9em;
}

.dailyForecastResult .forecastTitle {
  font-size: 1em;
  margin: 20px;
}

.dailyForecastResultContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 360px;
  overflow-y: auto;
  margin-top: 10px;
  box-sizing: border-box;
}

.dailyForecastResultContainer::-webkit-scrollbar {
  display: none;
}

.dailyForecast {
  background-color: #ffdd46;
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 0.8em;
  border-radius: 20px;
}

.dailyForecastDay {
  width: 70%;
  border-bottom: 2px solid black;
  text-align: center;
}

.dailyForecastDay,
.dailyForecastMinMax {
  font-size: 1.1em;
  font-weight: 500;
}

.dailyForecast div p {
  font-size: 0.9em;
}
