@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.5;
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./assets/tumblr_ca956428be800fae7a50c8ce0795265a_ac41e0a9_540.webp");
  background-size: cover;
  background-position: center;
}

p,
h1,
h2,
h3,
input,
label {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  font-family: "Poppins", sans-serif;
  cursor: default;
}
